@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">MVC Project Code First N-Tier</h1>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Welcome to MVC Project Code First N-Tier</h2>
            <p>
                MVC Project Code First N-Tier
            </p>
        </section>
    </div>
</main>